/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

.square {
    border:5px solid #eee;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.score {
    border: 1px solid black;
    float:left;
    text-align: center;
    height: 30px;
    line-height:30px;
}

.audio {
    margin: auto;
    width: 300px;
}